.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 190px;
}
.home input {
  padding: 15px;
  height: 30px;
  width: 450px;
  border-radius: 3px;
  border-color: initial;
  color: blue;
  font-size: 23px;
  outline: none;
}
.home button {
  width: 160px;
  height: 45px;
  border-radius: 10px;
  border: none;
  background: rgb(62, 62, 164);
  color: wheat;
  font-size: 22px;
  margin-top: 45px;
}
.client {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  position: relative;
}
.client img {
  width: 320px;
  border-radius: 8px;
}
.client h1 {
  color: rgb(62, 62, 164);
  font-size: 28px;
  font-weight: 800;
}
.client span {
  font-size: 28px;
  color: rgb(62, 62, 164);
}
.delete {
  font-size: 29px;
  color: red;
  margin-left: 10px;
  padding-top: 12px;
  position: relative;
  top: 4px;
}
.black {
  background: Turquoise;
  border-radius: 10px;
  padding: 10px;
  margin: auto 0;
  margin: 10px 0;
}
.edit {
  font-size: 25px;
  color: green;
}
